{% extends 'socioapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdi1EBkMVS1MUTOL10mnlXG5Mxu65KufkPtlpfCuizq8UZIwJKaw&s"  height="300px" width="300px" alt="">
        </div>
        <div class="col-sm-6 col-md-6">
            <h1 id="logo">Instagram</h1>
            <p>Join to see photos and videos from friends </p>
            
        </div>

    </div>
</div>
{% endblock %}